body{
    display: grid;
    grid-template-columns: 25% 41% 34%;
    background: #17202A;
    padding: 5px; 
}


.left{
    position: relative;
    grid-column-start: 1;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 0px;
    padding-bottom: 5px;
    border-right: 1px rgba(58,68,76,1) solid;
}


.Button{
    display: grid;
    grid-template-columns: 5px 40px 2px;
    margin: 1px;
    padding-top: 12px;
    height:50px;
    width: 90%;
    background-color: #17202A;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    align-items: center;
  
}
.Button:hover {
    text-decoration-line: underline;
    text-decoration-color: #0572EF;
}

.Button-image{
    grid-column-start: 2;  
}

.Tweet{


    height:50px;

    margin-top: 20px;
    width: 210px;
    background-color: #4BA0EC;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px;
    align-items: center;
}



.middle{
    grid-column-start: 2;
    padding: 5 0 5 0px;  
    }
.arrow{
    position: relative;
    top: 15px;
    left: 20px;
}
.arrow-text{
    position: absolute;
    top: 3px;
    left:  62px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}
.arrow-text2{
    position: absolute;
    top: 30px;
    left:  62px;
    font-size: 14px;
    color: lightgray;
}

.right{
    grid-column-start: 3;
    padding: 5 20 5 20px;  
    border-left: 1px rgba(58,68,76,1) solid;
}

.SearchForm{
    position: relative;
    display: flex;
    justify-content: center;
}

.Search{
    padding-left: 30px;
    font-family:Helvetica;
    border: 2px solid black;
    border-radius: 100px;
    background-color: #283340;
    width: 80%;
    height: 20px;
}

.magnifier{
    position: absolute;
    padding-right: 80%;
    padding-top: 5px;
    
}
